<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassifyImage.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClassifyImage.Temp" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ClassifyImage.Settings>
            <setting name="KeyPath0" serializeAs="String">
                <value />
            </setting>
        </ClassifyImage.Settings>
        <ClassifyImage.Temp>
            <setting name="KeyPath0" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath3" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath4" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath5" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath6" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath7" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath8" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyPath9" serializeAs="String">
                <value />
            </setting>
            <setting name="auto_next_check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mut_kind_check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="control_main_setting_windows_check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyGO_easter_egg_check" serializeAs="String">
                <value>False</value>
            </setting>
        </ClassifyImage.Temp>
    </userSettings>
</configuration>